
<!DOCTYPE html>

{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css" />
    <link rel="stylesheet" href="{% static 'style_new.css' %}">

  <title>Luminar|About</title>
</head>

<body>
  <!-- navbar  -->
  {% include 'partial/_navbar2.html' %}
  <!-- page header -->
  {% include 'partial/_header.html'%}

  <!-- ABOUT SECTION -->
  <section id="about" class="py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1>Provide Best Education Services For You</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, fuga eaque. Amet, assumenda aliquid tempore dolorum
            error eveniet doloribus sed repellat quod, dolores fuga ipsam soluta. Aliquam accusantium pariatur aut sint deleniti
            laborum ducimus voluptatem? Architecto cumque quod suscipit officiis soluta, voluptate dicta blanditiis similique
            praesentium temporibus adipisci debitis labore!</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, fuga eaque. Amet, assumenda aliquid tempore dolorum
            error eveniet doloribus sed repellat quod, dolores fuga ipsam soluta. Aliquam accusantium pariatur aut sint deleniti
            laborum ducimus voluptatem? Architecto cumque quod suscipit officiis soluta, voluptate dicta blanditiis similique
            praesentium temporibus adipisci debitis labore!</p>
        </div>
        <div class="col-md-6">
          <img src="{% static 'img/image6.jpg' %}" alt="" class="img-fluid rounded-circle d-none d-md-block about-img">
        </div>
      </div>
    </div>
  </section>


<!--  &lt;!&ndash; TESTIMONIALS &ndash;&gt;-->
<!--  <section id="testimonials" class="p-4 text-white" style="background: #3b435b">-->
<!--    <div class="container">-->
<!--      <h2 class="text-center">Testimonials</h2>-->
<!--      <div class="row text-center">-->
<!--        <div class="col">-->
<!--          <div class="slider">-->
<!--            <div>-->
<!--              <blockquote class="blockquote">-->
<!--                <p class="mb-0">-->
<!--                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, quaerat.-->
<!--                </p>-->
<!--                <footer class="blockquote-footer">Akhil Paul-->
<!--                </footer>-->
<!--              </blockquote>-->
<!--            </div>-->
<!--            <div>-->
<!--              <blockquote class="blockquote">-->
<!--                <p class="mb-0">-->
<!--                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, quaerat.-->
<!--                </p>-->
<!--                <footer class="blockquote-footer">Joel Joy-->
<!--                </footer>-->
<!--              </blockquote>-->
<!--            </div>-->
<!--            <div>-->
<!--              <blockquote class="blockquote">-->
<!--                <p class="mb-0">-->
<!--                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, quaerat.-->
<!--                </p>-->
<!--                <footer class="blockquote-footer">Anu Abraham-->
<!--                </footer>-->
<!--              </blockquote>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </section>-->

<!--  footer -->
  <footer id="main-footer" class="text-center p-4 bg-dark text-light mt-4">
    <div class="container">
      <div class="row">
        <div class="col">
          <p>Copyright &copy;
            <span id="year">2019</span>&nbsp;Luminar Technolab
          </p>
        </div>
      </div>
    </div>
  </footer>





  <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.js" integrity="sha256-zUQGihTEkA4nkrgfbbAM1f3pxvnWiznBND+TuJoUv3M=" crossorigin="anonymous"></script>

  <script>

    $('.slider').slick({
      infinite: true,
      slideToShow: 1,
      slideToScroll: 1
    });


  </script>
</body>

</html>