{% extends 'userapp/base.html' %}

{% block content %}

<div class="container">
    <div class="row py-5">
        <div class="col-md-6">
    <h1 class="text-info text-center">Admin Home</h1>
    <div>
        <a href="{% url 'logout' %}" class="btn btn-danger m-3">Logout</a>
        <a href="{% url 'course_create' %}" class="btn btn-danger m-3">Create Course</a>
        <a href="{% url 'batch_list' %}" class="btn btn-danger m-3">Batches</a>
        <a href="{% url 'trainer_create' %}" class="btn btn-danger m-3">Add trainers</a>
        <a href="{% url 'view_students' %}" class="btn btn-danger m-3">View Students</a>
        <a href="{% url 'course_list' %}" class="btn btn-danger m-3">Courses</a>
        <a href="{% url 'batch' %}" class="btn btn-danger m-3">Add Batches</a>
        <a href="{% url 'trainer_view' %}" class="btn btn-danger m-3">View Trainers</a>
    </div>
    </div>
    </div>
</div>
{% endblock %}

