{% extends 'userapp/base.html' %}


{% block content %}
<div class="container">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <!-- create a legeng -->
            <legend class="border-bottom mb-4">

                Join Today
            </legend>
            {{form1.as_p}}
        </fieldset>
        <!-- create a button -->
        <div class="form-group">
            <button type="submit" class="btn btn-outline-info">Sign Up</button>
        </div>
    </form>
    <!-- if already having account -->
    <div class="pt-2">
        <small class="text-muted">Already Have an Account?
            <a href="#" class="ml-3">Sign In</a>
        </small>
    </div>
</div>

{% endblock %}

