{% extends 'trainers/base.html' %}

{% load crispy_forms_tags %}
{% load humanize %}

{% block content%}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset class="form-group">
                    {{form|crispy}}
                </fieldset>
                <div class="form-group">
                    <input class="btn btn-outline-info btn-block" type="submit" value="save">
                </div>

            </form>
        </div>
    </div>
</div>


{% endblock %}
