{% extends 'studentapp/base.html' %}
{% load static %}
{% block content %}

<section id="showcase-inner" class="py-5 text-white">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <h1 class="display-4">{{course.name}}</h1>
            </div>
        </div>
    </div>
</section>

<!--breadcrumb -->
<section id="bc" class="mt-3">
    <div class="container">

      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'index_page' %}">Home</a></li>
          <li class="breadcrumb-item"><a href="{% url 'studentapp:course_view' %}">Courses</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{course.name}}</li>
        </ol>
      </nav>
    </div>
</section>

<!--button-->
<section id="courses" class="py-4">

    <div class="container">
        <a href="{% url 'studentapp:course_view' %}" class="btn btn-secondary mb-4">
            Back to Courses
        </a>

<!--        course syllabus-->

        <div class="row mb-5">
            <div class="col-md-8">
                <h1 class="display-6">Syllabus</h1>
                <p class="text-justify">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia recusandae esse reiciendis officia omnis non rerum dicta
              cupiditate nostrum molestias deserunt aut minus inventore animi atque, consequuntur ad fugit. Possimus culpa
              blanditiis repellendus ipsa similique ullam, natus error dolor harum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia recusandae esse reiciendis officia omnis non rerum dicta
              cupiditate nostrum molestias deserunt aut minus inventore animi atque, consequuntur ad fugit. Possimus culpa
              blanditiis repellendus ipsa similique ullam, natus error dolor harum.
                </p>
                <div class="mb-3">
                    <a href="{%url 'studentapp:student_register' %}" class="btn btn-outline-info">Apply Here</a>
                </div>
            </div>

        <div class="col-md-3">
            <div class="card mb-3">
                <!--here include the photo that stored in media/photos dir-->
                <!--here photo is the field name-->
                <!-- course.trainer.photo.url is used to get the image of each trainer-->
                <!--trainer is a foregin key field and photo is field in trainers models and later url-->
                 <img class="card-img-top" src="{{course.trainer.photo.url}}" alt="trainer image">
                <div class="card-body">
                    <h5 class="card-title">Program Trainer</h5>
                    <h6 class="text-secondary">{{course.trainer}}</h6>
                    <hr>
                    <h6 class="text-secondary">{{course.trainer.experience}}</h6>
                </div>
            </div>
        </div>
   </div>

    </div>


</section>

{% endblock %}

