 <nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
        <div class="container">
            <a href="{% url 'index_page' %}" class="navbar-brand">Luminar Technolab</a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navlinks">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navlinks">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'course_list' %}">Courses</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'batch' %}">Batch</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'batch_list' %}">View Batches</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'trainer_view' %}">View Trainers</a></li>



                </ul>
            </div>
        </div>
    </nav>

