 <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container">
      <a href="{% url 'index_page' %}" class="navbar-brand">Luminar Technolab</a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarCollapse">



        <ul class="navbar-nav ml-auto">
          <li
                  {% if '/' == request.path %}
                    class="nav-item active"
                  {% else %}
                    class="nav-item"
                  {% endif %}
                  >
            <a href="{% url 'index_page' %}" class="nav-link">Home</a>
          </li>
          <li
            {% if 'view' in request.path %}
              class="nav-item active"
            {% else %}
              class="nav-item"
            {% endif %}
          >
            <a href="{% url 'studentapp:course_view' %}" class="nav-link">Courses</a>
          </li>
          <li
                  {% if 'about' in request.path %}
                    class="nav-item active"
                  {% else %}
                    class=nav-item
                  {% endif %}
            >
            <a href="{% url 'about_page' %}" class="nav-link">About Us</a>
          </li>
          <li
                  {% if 'contact' in request.path%}
                    class="nav-item active"
                  {% else %}
                    class="nav-item"
                  {% endif %}
          >
            <a href="{% url 'contact' %}" class="nav-link">Contact</a>
          </li>

<!--            <li> <a href="{% url 'studentapp:login' %}" class="nav-link">Login</a></li>-->
        </ul>
      </div>

  </nav>
