 <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container">
      <a href="{% url 'index_page' %}" class="navbar-brand">Luminar Technolab</a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="{% url 'home' %}"
            {% if 'logout' in request.path %}
                class="nav-link d-none"
            {% elif 'login' in request.path %}
                class="nav-link d-none"
              {% elif 'register' in request.path %}
                              class="nav-link d-none"
            {% else %}
                class="nav-link"
            {% endif %}
            >My Home
            </a>




          </li>

          <li class="nav-item">
                        <a href="{% url 'logout' %}"
                           {% if 'logout' in request.path %}
                              class="nav-link d-none"

                            {% else %}
                              class="nav-link btn btn-secondary mx-3">
                            {% endif %}
                            Logout
                        </a>

          </li>




        </ul>
      </div>
    </div>
  </nav>